/*contenedor de pantalones*/
.div-pantalones{
    width: 98.9vw;
    height: 25%;
    background-color: rgb(0, 255, 34);
    background: linear-gradient(315deg, black 0%, rgb(71, 20, 20) 50%, rgb(66, 1, 1) 75%, rgb(150, 0, 0)100%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
/*Todos los div difiminados*/
.div-pantalones .difuminado{
    position: absolute;
    margin: 0;
    z-index: 0;
}
.div-pantalones .difuminado:nth-child(1){
    width: 300px;
    height: 300px;
    top: 30%;
    left: 60%;
    border-radius: 50%;
    background: radial-gradient(rgba(27, 0, 0, 0.3) 0%, rgba(82, 3, 3, 0.3) 100%);
    box-shadow: 0px 0px 10px 10px rgba(82, 3, 3, 0.3);
}
.div-pantalones .difuminado:nth-child(2){
    width: 200px;
    height: 200px;
    top: 90%;
    left: 10%;
    border-radius: 50%;
    background: radial-gradient(rgba(27, 0, 0, 0.3) 0%, rgba(82, 3, 3, 0.3) 100%);
    box-shadow: 0px 0px 10px 10px rgba(82, 3, 3, 0.3);
}
.div-pantalones .difuminado:nth-child(3){
    width: 400px;
    height: 400px;
    right: 0%;
    bottom: -80%;
    border-radius: 50%;
    background: radial-gradient(rgba(27, 0, 0, 0.3) 0%, rgba(82, 3, 3, 0.3) 100%);
    box-shadow: 0px 0px 10px 10px rgba(82, 3, 3, 0.3);
}
.div-center{
    width: 95%;
    height: 90%;
    justify-content: center;
    align-items: center;
}
/*seccion de camisas*/
.S-P-H, .S-P-M{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.S-P-H{
    width: 100%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    
}
.S-P-M{
    width: 100%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 5px;
}

.section-title-general{
    width: 20%;
    height: 24%;
    text-align: center;
    color: white;
}