/*contenedor de Joyeria*/
.div-joyeria{
    width: 98.9vw;
    height: 25%;
    background-color: rgb(0, 255, 34);
    background: linear-gradient(45deg, rgb(150, 0, 0)25%, rgb(71, 20, 20) 50%, rgb(66, 1, 1) 75%, black 100%);
    display: flex;
    justify-content: center; 
    align-items: center;
}
/*seccion de camisas*/
.S-J-H, .S-J-M{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.S-J-H{
    width: 100%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    
}
.S-J-M{
    width: 100%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 5px;
}